:root {
  --terciairo: #eced9f;
  --secundario: #c5ed9f;
  --secundariosuave: #c5ed9f4f;
  --Primario1: #926bb7;
  --primario2: #c79fed;
  --primario3: #d6bcef;
  --primario4: #eadcf8;
  --text-color: #505050;
  --glasslight: rgba(255, 255, 255, 0.4);
  --bg: linear-gradient(
    -120deg,
    var(--primario3) 10%,
    var(--primario2) 50%,
    var(--Primario1) 100%
  );
}

/*Seteos iniciales*/
* {
  box-sizing: border-box;
}

body,
main,
section,
h1 {
  margin: 0;
  padding: 0;
}

/*Tools*/
.centrado {
  text-align: center;
  margin: 0 auto;
}
.espaciado-vertical {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/* Estilos sobre el body */
body {
  background: var(--bg) fixed no-repeat;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;
}
body::before,
body::after {
  content: "";
  height: 10px;
  width: 10px;
  background: var(--secundario);
  position: fixed;
  border-radius: 50%;
  z-index: -1;
  box-shadow: 1rem 0 0 var(--secundario), 2rem 0 0 var(--secundario),
    3rem 0 0 var(--secundario), 0 1rem 0 var(--secundario),
    0 2rem 0 var(--secundario), 0 3rem 0 var(--secundario),
    1rem 1rem 0 var(--secundario), 1rem 2rem 0 var(--secundario),
    1rem 3rem 0 var(--secundario), 2rem 1rem 0 var(--secundario),
    2rem 2rem 0 var(--secundario), 2rem 3rem 0 var(--secundario),
    3rem 1rem 0 var(--secundario), 3rem 2rem 0 var(--secundario),
    3rem 3rem 0 var(--secundario);
}

body::before {
  left: 1rem;
  top: 1rem;
}
body::after {
  right: 4rem;
  bottom: 4rem;
}

/* Estilos sobre el main
        1- Section home
        2- Section about
        3- Section.... 
*/

.main {
  display: grid;
  place-items: center;
  position: relative;
}

/*
Botonera menú desplegable
*/
.botoneraMobile {
  position: fixed;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: var(--glasslight);
  border: solid rgba(245, 245, 245, 0.397) 2px;
  right: 2rem;
  top: 2.5rem;
  z-index: 2;
  display: grid;
  place-items: center;
}
.botonera-ornamento {
  position: relative;
  width: 1.2rem;
  height: 0.2rem;
  background: rgb(245, 245, 245);
  box-shadow: 0 0 0.8px var(--text-color);
}
.botonera-ornamento::before,
.botonera-ornamento::after {
  box-shadow: 0 0 0.8px var(--text-color);
  content: "";
  width: 1.2rem;
  height: 0.2rem;
  background: rgb(245, 245, 245);
  position: absolute;
}
.botonera-ornamento::before {
  top: -0.5rem;
}
.botonera-ornamento::after {
  top: 0.5rem;
}

.section {
  position: relative;
  height: 92vh;
  width: 88vw;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  background: var(--glasslight);
  backdrop-filter: blur(3px);
  border-radius: 0.3rem;
  margin: 1.5rem 0;
}
/*1- Section home*/

.section-home {
  /* display: none; */
}

.section-home__title {
  font-size: 2.5rem;
  width: 70%;
}
.section-home__subtitle {
  font-size: 1rem;
  margin: 1rem 0;
}

.section-home__icon-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 20px 0;
}

.social-container {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
  border: solid var(--glasslight) 0.5px;
  transition: all 0.3s ease-in-out;
  margin: 0.5rem;
}
.social-container:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 10px rgba(243, 243, 243, 0.212), -1px -1px 2px whitesmoke;
}

.social-container::before {
  position: absolute;
  content: "";
  height: 2.5rem;
  width: 1rem;
  background: var(--glasslight);
  transform: skew(-60deg);
  left: -4rem;
  transition: transform 0.5s ease-in-out;
}
.social-container:hover::before {
  transform: translateX(18rem) skew(-60deg);
}

.social-container__anchor {
  width: 100%;
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
}
.social-container__icon {
  font-size: 1.5rem;
  color: var(--Primario1);
}
/* <picture class="section-home__img-container">
<img class="profile-img" src="images/foto.png" alt="">
</picture> */

.section-home__img-container {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background: var(--glasslight);
  overflow: hidden;
}
.profile-img {
  max-width: 100%;
  height: auto;
  filter: grayscale(1);
}

/*2- Section about*/
.section-about {
  align-content: flex-start;
  justify-content: flex-start;
  padding-top: 2rem;
}
.section-about__description {
  padding: 0 2.2rem;
  display: inline-block;
  text-align: justify;
}

/* <div class="skills-containter">
<div class="skill-container"  data-name="HTML5">
<div class="skill-progress"></div>
</div>
</div> */
.skills-containter {
  margin-top: 2rem;
}
.skill-container {
  width: 12rem;
  height: 0.5rem;
  border-radius: 0.2rem;
  background: var(--glasslight);
  position: relative;
  margin: 1.5rem auto;
}
.skill-container::before {
  content: attr(data-name);
  position: absolute;
  left: 0rem;
  top: -1.2rem;
  font-size: 0.8rem;
}
.skill-progress {
  width: 70%;
  height: 100%;
  background: var(--primario2);
  border-radius: 0.2rem 0 0 0.2rem;
}

.skill-progress--HTML5 {
  width: 80%;
  /* background: rgb(238, 124, 17); */
}
.skill-progress--CSS3 {
  width: 80%;
  /* background: rgb(57, 105, 196); */
}
.skill-progress--JS {
  width: 70%;
  /* background: var(--terciairo); */
}
.skill-progress--React {
  width: 60%;
  /* background: rgb(77, 139, 255); */
}
.skill-progress--Firebase {
  width: 25%;
  /* background: rgb(247, 189, 81); */
}
.skill-progress--Bootstrap {
  width: 80%;
  /* background: var(--Primario1); */
}
/* 
section-home
quizás lo use para desktop
display: grid;
  grid-gap: 0.5rem;
  place-items: center;
  grid-template-columns: repeat(2, 3rem);
  grid-template-rows: repeat(4, 3rem);
  grid-template-areas:
    "a b"
    "e f "
    "k l"
    "o p";
}
.a {
  grid-area: a;
}
.f {
  grid-area: f;
}
.k {
  grid-area: k;
}
.p {
  grid-area: p;
} */
