:root {
  --terciairo: #eced9f;
  --secundario: #c5ed9f;
  --secundariosuave: #c5ed9f4f;
  --Primario1: #926bb7;
  --primario2: #c79fed;
  --primario3: #d6bcef;
  --primario4: #eadcf8;
  --text-color: #505050;
  --glasslight: rgba(255, 255, 255, 0.4);
  --bg: linear-gradient(
    -120deg,
    var(--primario3) 10%,
    var(--primario2) 50%,
    var(--Primario1) 100%
  );
}

/*Seteos iniciales*/
* {
  box-sizing: border-box;
}

body,
main,
section,
h1 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
}
/*Tools*/
.centrado {
  text-align: center;
  margin: 0 auto;
}
.espaciado-vertical {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/* Estilos sobre el body */
body {
  background: var(--bg) fixed no-repeat;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;
  color: var(--text-color);
}
body::before,
body::after {
  content: "";
  height: 10px;
  width: 10px;
  background: var(--secundario);
  position: fixed;
  border-radius: 50%;
  z-index: -1;
  box-shadow: 1rem 0 0 var(--secundario), 2rem 0 0 var(--secundario),
    3rem 0 0 var(--secundario), 0 1rem 0 var(--secundario),
    0 2rem 0 var(--secundario), 0 3rem 0 var(--secundario),
    1rem 1rem 0 var(--secundario), 1rem 2rem 0 var(--secundario),
    1rem 3rem 0 var(--secundario), 2rem 1rem 0 var(--secundario),
    2rem 2rem 0 var(--secundario), 2rem 3rem 0 var(--secundario),
    3rem 1rem 0 var(--secundario), 3rem 2rem 0 var(--secundario),
    3rem 3rem 0 var(--secundario);
}

body::before {
  left: 1rem;
  top: 1rem;
}
body::after {
  right: 4rem;
  bottom: 4rem;
}

.darkmode {
  --text-color: #e2e2e2;
  --bg: #131111;
  --glasslight: rgba(255, 255, 255, 0.055);
}
.darkmode .profile-img {
  filter: grayscale(0.4);
}
/* <div class="btn-darkmode">
        <label class="btn-darkmode__wrapper">
            <input class="btn-darkmode__button" type="checkbox" name="" id="">
            <span class="btn-darkmode__ornamento"> </span>
        </label>
    </div> */
.btn-darkmode {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
}
.btn-darkmode__wrapper {
  width: 2.5rem;
  height: 1.1rem;
  background: var(--text-color);
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  color: var(--terciairo);
  padding: 0.1rem;
}
.btn-darkmode__icon {
  font-size: 0.8rem;
}
.btn-darkmode__icon:nth-child(1) {
  color: rgb(0, 0, 0);
}
.btn-darkmode__icon:nth-child(2) {
  color: var(--terciairo);
}
.btn-darkmode__ornamento {
  position: absolute;
  display: inline-block;
  left: -0.1rem;
  top: -0.15rem;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background: var(--Primario1);
  border: 1px solid var(--glasslight);
  transition: transform 0.2s ease-in-out;
}
.btn-darkmode__button {
  display: none;
}
.btn-darkmode__button:checked + .btn-darkmode__ornamento {
  transform: translateX(1.4rem);
}

.desktop-header {
  display: none;
}
/* Estilos sobre el main
        1- Section home
        2- Section about
        3- Section.... 
*/

.main {
  display: grid;
  place-items: center;
  position: relative;
}

/*
Botonera menú desplegable
*/
.botoneraMobile {
  position: fixed;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: var(--glasslight);
  border: solid rgba(245, 245, 245, 0.397) 2px;
  right: 2rem;
  top: 2.5rem;
  z-index: 2;
  display: grid;
  place-items: center;
}
.botonera-ornamento {
  position: relative;
  width: 1.2rem;
  height: 0.2rem;
  background: rgb(245, 245, 245);
  box-shadow: 0 0 0.8px var(--text-color);
}
.botonera-ornamento::before,
.botonera-ornamento::after {
  box-shadow: 0 0 0.8px var(--text-color);
  content: "";
  width: 1.2rem;
  height: 0.2rem;
  background: rgb(245, 245, 245);
  position: absolute;
}
.botonera-ornamento::before {
  top: -0.5rem;
}
.botonera-ornamento::after {
  top: 0.5rem;
}

.section {
  position: relative;
  height: 92vh;
  width: 88vw;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  background: var(--glasslight);
  backdrop-filter: blur(3px);
  border-radius: 0.3rem;
  margin: 1.5rem 0;
}
/*1- Section home*/

.section-home {
  /* display: none; */
}

.section-home__title {
  font-size: 2.5rem;
  width: 70%;
}
.section-home__subtitle {
  font-size: 1rem;
  margin: 1rem 0;
}

.section-home__icon-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 20px 0;
}

.social-container {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
  border: solid var(--glasslight) 0.5px;
  transition: all 0.3s ease-in-out;
  margin: 0.5rem;
}
.social-container:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 10px rgba(243, 243, 243, 0.212), -1px -1px 2px whitesmoke;
}

.social-container::before {
  position: absolute;
  content: "";
  height: 2.5rem;
  width: 1rem;
  background: var(--glasslight);
  transform: skew(-60deg);
  left: -4rem;
  transition: transform 0.5s ease-in-out;
}
.social-container:hover::before {
  transform: translateX(18rem) skew(-60deg);
}

.social-container__anchor {
  width: 100%;
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
}
.social-container__icon {
  font-size: 1.5rem;
  color: var(--Primario1);
}

.section-home__img-container {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background: var(--glasslight);
  overflow: hidden;
}
.profile-img {
  max-width: 100%;
  height: auto;
  filter: grayscale(1);
}

/*2- Section about*/
.section-about {
  align-content: flex-start;
  justify-content: flex-start;
  padding-top: 2rem;
}
.section-about__description {
  padding: 0 2.2rem;
  display: inline-block;
  text-align: justify;
}

.skills-containter {
  margin-top: 2rem;
}
.skill-container {
  width: 12rem;
  height: 0.5rem;
  border-radius: 0.2rem;
  background: var(--glasslight);
  position: relative;
  margin: 1.5rem auto;
}
.skill-container::before {
  content: attr(data-name);
  position: absolute;
  left: 0rem;
  top: -1.2rem;
  font-size: 0.8rem;
}
.skill-progress {
  width: 70%;
  height: 100%;
  background: var(--primario2);
  border-radius: 0.2rem 0 0 0.2rem;
}

.skill-progress--HTML5 {
  width: 80%;
}
.skill-progress--CSS3 {
  width: 80%;
}
.skill-progress--JS {
  width: 70%;
}
.skill-progress--React {
  width: 60%;
}
.skill-progress--Firebase {
  width: 25%;
}
.skill-progress--Bootstrap {
  width: 80%;
}

/*3- Section works*/
.section-works {
  align-content: center;
  justify-content: space-evenly;
}

.section-works__cards-container {
  width: 80%;
  height: 80%;
  display: flex;
  flex-flow: column wrap;
  overflow-y: hidden;
  overflow-x: auto;
}
.section-works__card {
  width: 100%;
  height: 100%;
  margin: 0 1rem 0 0;
  display: grid;
  place-items: center;
}
.section-works__card:hover .section-works__card__img {
  filter: grayscale(0.6);
}
.section-works__card__img-container:hover
  .section-works__card__img-container__epigrafe {
  bottom: 0;
}

.section-works__card__img-container {
  width: 90%;
  height: 90%;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.section-works__card__img-container__epigrafe {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: -100%;
  padding: 0 0.5rem;
  background: #c5ed9f;
  color: black;
  border-radius: 1rem;
  transition: all 1s ease-in-out;
  font-size: 0.8rem;
}
/*
  <figure class="section-works__card__img-container">
<img class="section-works__card__img" src="./images/projects/whatchatt.png" alt="imagen de proyecto whatchapp, se ve una conversacion entre distintas personas">
<figcaption class="section-works__card__img-container__epigrafe"> <p>Se ha utilizado Firebase para hacer login con Google, y firebase realtime database para lograr el efecto del chat</p></figcaption>
                    </figure>
*/
.section-works__card__img {
  border-radius: 1rem;
  max-width: 100%;
  height: auto;
}

.section-works__card__anchor {
  position: relative;
  text-decoration: none;
  color: var(--Primario1);
  width: 5rem;
  height: 2rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
  border: solid var(--glasslight) 0.5px;
  transition: all 0.3s ease-in-out;
}
.section-works__card__anchor:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 10px rgba(243, 243, 243, 0.212), -1px -1px 2px whitesmoke;
}

.section-works__card__anchor::before {
  position: absolute;
  content: "";
  height: 2.5rem;
  width: 1rem;
  background: var(--glasslight);
  transform: skew(-60deg);
  left: -4rem;
  transition: transform 0.5s ease-in-out;
}
.section-works__card__anchor:hover::before {
  transform: translateX(18rem) skew(-60deg);
}

/*hacerlo visible para desktop*/
::-webkit-scrollbar {
  display: none;
}

/*MEDIA QUERIES*/
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .section {
    height: auto;
  }
  .section-works {
    height: 125vh;
    align-content: center;
    justify-content: space-evenly;
  }
  .section-works__cards-container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-flow: row wrap;
    overflow-y: hidden;
    justify-content: center;
    align-content: flex-start;
    overflow-y: auto;
  }
  .section-works__card {
    width: 11rem;
    height: 22rem;
    margin: 0.5rem;
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  .section-works__card__img {
    border-radius: 1rem;
    max-width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 24px;
  }
  body {
    display: grid;
    grid-template-columns: 12rem 1fr;
    grid-template-areas: "header main";
  }
  .desktop-header {
    grid-area: header;
    position: fixed;
    top: 0;
    height: 92vh;
    width: 12rem;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    background: var(--glasslight);
    backdrop-filter: blur(3px);
    border-radius: 0.3rem;
    margin: 1.5rem 1rem;
  }

  .desktop-header__list {
    list-style: none;
    padding: 0;
  }

  .desktop-header__list__items {
    position: relative;
    text-decoration: none;
    color: var(--Primario1);
    width: 7rem;
    height: 2.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: hidden;
    border: solid var(--glasslight) 0.5px;
    transition: all 0.3s ease-in-out;
    margin: 1rem 0;
  }
  .desktop-header__list__items:nth-child(4) {
    cursor: not-allowed;
  }

  .desktop-header__list__items:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 10px rgba(243, 243, 243, 0.212),
      -1px -1px 2px whitesmoke;
  }

  .desktop-header__list__items::before {
    position: absolute;
    content: "";
    height: 2.5rem;
    width: 1rem;
    background: var(--glasslight);
    transform: skew(-60deg);
    left: -4rem;
    transition: transform 0.5s ease-in-out;
  }
  .desktop-header__list__items:hover::before {
    transform: translateX(18rem) skew(-60deg);
  }

  .main {
    grid-area: main;
  }
  .section {
    width: 95%;
    margin: 0 0 1.5rem 0;
  }
  .section-home {
    margin: 1.5rem 0;
  }
  .section-works {
    align-content: center;
    justify-content: space-evenly;
  }
  .section-works__cards-container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-flow: row wrap;
    overflow-y: hidden;
    justify-content: center;
    align-content: flex-start;
    overflow-y: auto;
  }
  .section-works__card {
    width: 11rem;
    height: 22rem;
    margin: 0.5rem;
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  .section-works__card__img {
    border-radius: 1rem;
    max-width: 100%;
    height: auto;
  }
}
